OpenCV_01/Debug/
OpenCV_01/OpenCV_01/Debug/
OpenCV_01/OpenCV_01/x64/
OpenCV_01/x64/
OpenCV_01/OpenCV_01.VC.db
Demo01/Demo01.VC.db
Demo01/Demo01/x64/
Demo01/x64/
Demo02/Demo02.VC.db
Demo02/.vs/Demo02/v14/
Demo02/Demo02/x64/Debug/
Demo02/x64/
Demo02/Demo02/Demo02.jpg
Demo03/Demo03.VC.db
Demo03/.vs/
Demo03/Demo03/x64/
Demo03/x64/
Demo/OpenCV.VC.db
Demo/Demo01/x64/
Demo/Demo02/x64/
Demo/Demo02/Alpha.png
Demo/x64/
